model_config_list {
  config {
    name: "bert_rank_user_profile_v3",
    base_path: "/models/bert_rank_user_profile_v3",
    model_platform: "tensorflow",
    
  },
  config {
    name: "bert_rank_user_profile_v4",
    base_path: "/models/bert_rank_user_profile_v4",
    model_platform: "tensorflow",
    
  },
  config {
    name: "bert_rank_1_4",
    base_path: "/models/bert_rank_1_4",
    model_platform: "tensorflow",

  },
  config {
    name: "bert_rank_distil_cv",
    base_path: "/models/bert_rank_distil_cv",
    model_platform: "tensorflow",
  },

}
